* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
   /* Typography */
  --font-main: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Inter, Arial, sans-serif;

  /* Backgrounds */
  --bg-page: #0F1A1F;        /* page background */
  --bg-app: #2A2F42;         /* app container */

  /* Cards / surfaces */
  --card-primary: #2A2F42;   /* main cards */
  --card-secondary: #15202e; /* elevated cards */
  --card-third: #15202e65;
  --card-hover: #587074;     /* hover / active */

  /* Buttons */
  --btn-success: #76A076;    /* green */
  --btn-danger: #D36460;     /* red */
  --btn-pause: #d3c865;
  --btn-visited: #76A076;    /* green */

  /* Text colors */
  --text-primary: #E8F1F2;   /* main text */
  --text-secondary: #a1a7b5; /* secondary text */
  --text-muted: #6b7280;     /* muted / labels */
}

/* Light mode overrides */
body[data-theme="light"] {
  --bg-page: #f3f3f3;
  --bg-app: #ffffff;

  --card-primary: #ffffff;
  --card-secondary: #d2edffc7;
  --card-third: #f2f8ff;
  --card-hover: #e7ebf5;

  --btn-success: #76A076;
  --btn-danger: #D36460;
  --btn-pause: #d3c865;
  --btn-visited: #76A076; 

  --text-primary: #0f172a;
  --text-secondary: #334155;
  --text-muted: #64748b;
}

html, body, #root {
  min-height: 100vh;
  background: var(--bg-page);
}

body, html {
  margin: 0;
  font-family: var(--font-main);
  color: var(--text-primary);
}

/* ========== Grid layout ========== */

.grid {
  display: grid;
  grid-template-columns: 50% 30%;
  justify-content: center;
  row-gap: 20px;
}

.timer {
  grid-column: 1;
  /* border: 2px solid red; */
  align-self: start;
}

.recent {
  grid-column: 2;
  /* border: 2px solid green; */
}

.stats {
  grid-column: 1;
  /* border: 2px solid blue; */
  align-self: start;
}


