@media (min-width: 768px) {
  .grid {
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
  }

  .timer { grid-column: 1; }
  .recent { grid-column: 2; }
  .stats { grid-column: 1; }
}

@media (max-width: 1023px) {
  .grid {
    display: block;
  }
  .dashboardStack {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 75px;
  padding-bottom: 90px;
}
}

@media (min-width: 2560px) {
  .grid {
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
  }
}
