/* .weather {
  width: 30px !important;
  height: auto;
  filter: brightness(0.6);
} */

.viewTemp {
  display: flex;
}

.weatherGrid {
  display: grid;
  grid-template-columns: 1fr auto;
}

.weatherLocation {
  grid-column: 2;
  text-align: right;
}

.bottomRow {
  grid-column: 1 / 3; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weatherIcon {
  display: block;
  width: 35px;
  height: 35px;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewTemp {
  line-height: 1; /* viktigt */
  display: flex; /* gör textblocket “tight” */
  align-items: center;
}