.btnBase {
    color: var(--text-primary);
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    margin: 0 10px;
}

.start {
    background-color: var(--btn-success);
}

.pause {
    background-color: yellow;
    color: black;
}

.stop {
    background-color: var(--btn-danger);
    color: white;
}