.btnBase {
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 1rem;
}

.start {
    background-color: green;
}

.pause {
    background-color: yellow;
    color: black;
}

.stop {
    background-color: red;
    color: white;
}