/* .timer {
  font-size: 2rem;
  font-variant-numeric: tabular-nums;
  color: var(--text-primary);
} */

.wrap {
  position: relative;
  display: grid;
  place-items: center;
}

.svg {
  display: block;
  /* Starta uppe vid kl 12 istället för kl 3 */
  transform: rotate(-90deg);
}

.track {
  fill: none;
  stroke: var(--timer-background); /*bakgrundsfärg på t rackern*/
  stroke-linecap: round;
}

.progress {
  fill: none;
  stroke: var(--timer-forground); /* “fyllfärg” (kan bytas senare) */
  /* stroke: #22c55e; */
  stroke-linecap: round;
}

.animate {
  transition: stroke-dashoffset 250ms linear;
}

.time {
  position: absolute;
  font-size: 2rem;
  font-variant-numeric: tabular-nums;
  color: var(--text-primary);
  line-height: 1;
}
